* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #084aa7;
}


::-webkit-scrollbar-thumb {
    background: #151aea;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #20275b;
    }

body {
    background-image: url('../images/login/Landscape wallpaper 8k [7680x4320].png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    border: 1px solid black;
    background-color: none;
    height: auto;
    border-radius: 10px;
}

    .col p.outstagram {
        font-family: 'Send Flowers', cursive;
        color: aliceblue;
        font-size: 80px;
        font-weight: bold;
        margin: 20px 0px 20px 0px;
    }

    .col .outstagram span {
        background-color: white;
        color: black;
        border-radius: 20px;
        padding: 0px 20px;
        font-weight: 900;
    }


    .col input {
        display: block;
        height: 40px;
        width: auto;
        padding-right: 100px;
        background-color: rgb(230, 230, 230);
        border: 1px solid darkgray;
        margin: 20px auto;
        border-radius: 10px;
    }

.login_btn {
    display: block;
    background-color: rgb(128, 223, 255);
    width: auto;
    padding-right: 120px;
    padding-left: 120px;
    color: white;
    height: 40px;
    margin: 20px auto;
    border-radius: 10px;
}
